@tailwind base;
@tailwind components;
@tailwind utilities;

.footer-content a {
  text-decoration: underline;
}

.rgp-red {
  background-color: #c8102e;
}

.rgp-red-300 {
  background-color: #bb0b28;
}

.rgp-dark {
  background-color: #00162b;
}

.full-bleed {
  max-width: unset;
}

.center-content {
  height: 100%;
  display: grid;
  place-items: center;
}

div:has(.center-content) {
  height: 100%;
}
